# Database Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# JWT Configuration
JWT_SECRET=
SESSION_EXPIRES_IN=24h

# Blockchain Configuration
CONTRACT_ADDRESS=
CLIENT_DEPOSIT_ADDRESS=

# Wallet Configuration (for withdrawals)
WALLET_ADDRESS=
WALLET_PRIVATE_KEY=
ENCRYPTION_PASSWORD=

# Server Configuration
PORT=1357
NODE_ENV=production
